// Variables of Gemini scheme
// ==================================================

@import 'Pisces';

// Settings for some of the most global styles.
// --------------------------------------------------
$body-bg-color           = #fafafa;

// Borders.
// --------------------------------------------------
$box-shadow-inner        = 0 1px 2px 0 rgba(0, 0, 0, .04);
$box-shadow              = 0 1px 2px 0 rgba(0, 0, 0, .04), 0 2px 8px 0 rgba(0, 0, 0, .03);

$border-radius-inner     = 8px;    // ← 改：圆角从 initial 改为 8px
$border-radius           = 8px;
